<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>School HomePage</title>

  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="home">
    <h2>Welcome to Your School Portal</h2>
    
    <div class="homebtn">
      <button type="submit">
        <a href = "/signup">Get Started</a>
      </button>
      <button type="submit">
        <a href="/login">Login</a>
      </button>
    </div>
  </div>
</body>
</html>