<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>School Login</title>

  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="skewed-header">
    <div class="header-bg" style="background-image: url(https://images.unsplash.com/photo-1516975080664-ed2fc6a32937?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFrZSUyMHVwfGVufDB8fDB8fHww);"></div>
  

    <div class="skewed-header-content">
      <div class="heading">
        <h1>Login</h1>
      </div>
    </div>
  </div>

  <div class="page-container">
    <form action="/login" method="post" class="form">
      <div class="form-group">
        <input type="email" name="email" placeholder="Email" required autocomplete="off">
        <label for="email">Email</label>
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password" required>
        <label for="password">Password</label>
      </div>
      <button type="submit" class="login-btn">Login</button>
    </form>

    <div class="p">
      <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const params = new URLSearchParams(window.location.search);
      if (params.has('error')) {
        alert(params.get('error'));
      }
    });
  </script>
</body>
</html>

<!-- ce,cr[f4585 -->